body{margin: 40px;px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: left;background-color:rgb(105, 104, 104);color: antiquewhite; width: 80%;margin: auto; }
.divisor1{border: 2px solid;border-radius: 20px;background: antiquewhite;margin-top: 0%; margin-bottom: 50px;}
.divisor{border: 2px solid;border-radius: 20px;background: antiquewhite; margin-top: 30px; margin-bottom: 50px;}
.feather{color:antiquewhite;}
span{float: right;}
.feather:hover{color: #4592b6; cursor: pointer; transition-duration: 0.4s }
h2{margin-top: 30px;}
.grado1{margin-top: 1px; text-align: left;}
